{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["react", "babel"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "es6": true,
      "classes": true
    }
  },
  "globals": {"__DEV__": true, "__SERVER__": true},
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "babel/no-invalid-this": "error",
    "babel/object-curly-spacing": ["warn", "always"],
    "babel/quotes": ["error", "single"],
    "babel/semi": ["error", "never"],
    "comma-dangle": [
      "error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "no-console": ["warn", {"allow": ["info", "error"]}],
    "no-unused-vars": ["warn"],
    "no-extra-semi": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
